@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__next {
        @apply h-full flex flex-col pt-[84px];
    }
    html,
    body {
        @apply h-full bg-gray-900 text-white;
    }
}

.translate-center-y {
    top: 50%;
    transform: translateY(-50%);
}

.translate-center-x {
    left: 50%;
    transform: translateX(-50%);
}

.translate-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
